.content {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--white);
}

.login {
  max-width: 396px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 70px 30px 70px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    padding-top: 232px;
    padding-bottom: 232px;
  }
  @media screen and (max-width: 320px) {
    padding-top: 56px;
    padding-bottom: 30px;
    max-width: 260px;
    align-items: center;
  }
}

.login__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  text-align: start;
  margin: 40px 0;
  @media screen and (max-width: 320px) {
    padding-top: 8px;
    margin-bottom: 80px;
    text-align: center;
  }
}

.login__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: var(--grey-dark);
  text-decoration: none;
  margin: 16px 0 0;
  width: 100%;
  @media screen and (max-width: 363px) {
    font-size: 12px;
  }
}

.login__paragraph_span {
  color: var(--blue);
}