// .techs__list {
//   text-decoration: none;
//   list-style: none;
//   padding: 0;
//   display: grid;
//   justify-content: center;
//   grid-template-columns: repeat(7, 1fr);
//   gap: 10px;
//   margin: 0 auto;
//   max-width: 690px;
//   @media screen and (max-width: 768px) {
//     grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
//   }
//   @media screen and (max-width: 495px) {
//     max-width: 178px;
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

.movies-card-list__list {
  margin-top: 70px;
  padding: 0;
  display: grid;
  row-gap: 37px;
  column-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
  justify-items: center;
    @media screen and (max-width: 895px) {
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    gap: 30px;
  }
  @media screen and (max-width: 495px) {
    grid-template-columns: 1fr;
    gap: 14px;
    margin-top: 40px;
  }
}