.movies-card {
  list-style: none;
  padding: 0;
  max-width: 364px;
  border-radius: 6px;
  background-color: var(--white);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  @media screen and (max-width: 895px) {
    max-width: 339px;
  }
  @media screen and (max-width: 495px) {
    max-width: 300px;
  } 
}

.movies-card__container {
  // padding: 16px 16px;
  cursor: pointer;
  @media screen and (max-width: 895px) {
    padding: 14px 14px;
  }
}

.movies-card__container :hover .movies-card__dislike {
  display: block;
}

.movies-card__image {
  width: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.movies-card__info {
  padding: 16px 16px 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movies-card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
    @media screen and (max-width: 495px) {
      font-size: 12px;
      line-height: 15px;
  }
}

.movies-card__like {
  width: 14px;
  height: 12px;
  padding: 0 8px;
  cursor: pointer;
}

.movies-card__dislike {
  width: 6.84px;
  height: 6.72px;
  display: none;
  padding: 0 15px;
  cursor: pointer;
  @media screen and (max-width: 495px) {
    display: block;
  }
}

.movies-card__time {
  font-weight: 400;
  padding: 0 0 16px 16px;
  font-size: 11px;
  line-height: 13px;
  color: var(--grey-dark);
  margin: 17px 0 0 0;
  @media screen and (max-width: 895px) {
    margin-top: 15px;
  }
  @media screen and (max-width: 495px) {
    font-size: 10px;
    line-height: 12px;
    margin-top: 14px;
  }
}
