.movies {
  padding: 76px 70px 95px;
  background-color: var(--milk);
  @media screen and (max-width: 768px) {
    padding: 76px 30px 79px;
  }
  @media screen and (max-width: 495px) {
    padding: 74px 10px 81px;
  }
}