.page {
  background: var(--white);
  color: var(--black);
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 1280px;
}

.form__button {
  width: 100%;
  height: 45px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 3px;
  margin-top: 124px;
  cursor: pointer;
  line-height: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border: none;
  padding: 0;
  @media screen and (max-width: 320px) {
    margin-top: 213px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
}

.form__button_disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
  cursor: auto;
}

.button-hover {
  opacity: 1;
  transition-property: opasity;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 2s;
}

.button-hover:hover {
  opacity: 0.8;
}

.text-hover {
  opacity: 1;
  transition-property: opasity;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 2s;
}

.text-hover:hover {
  opacity: 0.7;
}
