

.header__burger {
  display: none;
  @media screen and (max-width: 768px) {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 320px) {
    width: 33px;
    height: 33px;
  }
}

.header__img {
  width: 100%;
  height: 90%;
  margin-bottom: 5px;
  @media screen and (max-width: 320px) {
    width: 100%;
    height: 100%;
  }
}
