.about-project {
  padding: 110px 70px;
  background-color: var(--milk);

  @media screen and (max-width: 768px) {
    padding: 95px 50px;
  }

  @media screen and (max-width: 495px) {
    padding: 70px 18px;
  }
}

.about-project__container {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 70px 0 110px;
  gap: 25px;

  @media screen and (max-width: 768px) {
    margin-bottom: 93px;
  }

  @media screen and (max-width: 495px) {
    flex-direction: column;
    margin-top: 64px;
    margin-bottom: 60px;
    gap: 56px;
  }
}

.about-project__title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0;

  @media screen and (max-width: 320px) {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
  }
}

.about-project__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 26px 0 0 0;
  max-width: 550px;

  @media screen and (max-width: 768px) {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
  }

  @media screen and (max-width: 320px) {
    font-size: 11px;
    line-height: 16px;
    margin-top: 16px;
  }
}

.about-project__spent-time {
  display: flex;
}

.about-project__spent-time-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;

  @media screen and (max-width: 320px) {
    font-size: 11px;
    line-height: 13px;
  }
}

.about-project__spent-time-backend {
  text-align: center;
}

.about-project__spent-time-frontend {
  text-align: center;
  width: 100%;
  max-width: 912px;

  @media screen and (max-width: 768px) {
    max-width: 528px;
  }

  @media screen and (max-width: 320px) {
    max-width: 184px;
  }
}

.about-project__spent-time-title_backend {
  color: var(--white);
  background-color: var(--blue);
  box-sizing: border-box;
  padding: 9px 84px;

  @media screen and (max-width: 768px) {
    padding: 9px 40px;
  }

  @media screen and (max-width: 495px) {
    padding: 10px 26px;
  }
}

.about-project__spent-time-title_frontend {
  background-color: var(--background-frontend);
  box-sizing: border-box;
  padding: 9px 0;
}

.about-project__spent-time-description {
  color: var(--grey-dark);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 14px 0 0;

  @media screen and (max-width: 495px) {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
  }
}