@import url(./vendor/normalize.scss);
@import url(./vendor/fonts/fonts.scss);

:root {
  --green: #2BE080;
  --black: #000000;
  --black2: #1D1D1D;
  --white: #FFFFFF;
  --grey-dark: #A0A0A0;
  --grey-light: #E8E8E8;
  --milk: #FAFAFA;
  --blue: #3456F3;
  --grey-light2: #F4F4F4;
  --pink: #EE3465;
  --background-intro: #F5F5F5;
  --background-promo: #DDDEE3;
  --background-frontend: #F2F2F2;
}