.about-me {
  background-color: var(--milk);
  padding: 110px 70px 101px;
  @media screen and (max-width: 768px) {
    padding: 90px 50px 91px;
  }
  @media screen and (max-width: 495px) {
    padding: 70px 14px;
  }
}

.about-me__container {
  display: grid;
  grid-template-areas:
  ' text image';
  margin-top: 66px;
  gap: 49px;
  @media screen and (max-width: 608px) {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.about-me__info {
  grid-area: text;
  max-width: 600px;
  @media screen and (max-width: 768px) {
    max-width: 354px;
  }
  @media screen and (max-width: 495px) {
    margin-top: 40px;
    max-width: 292px;
  }
}

.about-me__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0 0 18px 0;
  @media screen and (max-width: 768px) {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }
  @media screen and (max-width: 495px) {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }
}

.about-me__decription {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  @media screen and (max-width: 768px) {
    font-size: 12px;
    line-height: 18px;
  }
  @media screen and (max-width: 495px) {
    font-size: 11px;
    line-height: 16px;
  }
}

.about-me__information {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 26px 0 99px;
  @media screen and (max-width: 768px) {
    font-size: 12px;
    line-height: 18px;
    margin: 20px 0 87px;
  }
  @media screen and (max-width: 495px) {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
  }
}

.about-me__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: var(--black);
}

.about-me__image {
  grid-area: image;
  border-radius: 10px;
  max-width: 270px;
}