$black: var(--black);

.nav-tab {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.nav-tab_active {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: var(--milk);
    // transition: all 0.3s ease 0s;
    // position: fixed;
    // width: 60%;
    // top: 0;
    // right: 0;
}

.nav-tab__list {
  display: flex;
  padding: 0;
  margin: 0 0 0 44px;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin: 139px 0 0 0;
  }
}

.nav-tab__item-link {
  text-decoration: none;
  color: var(--black);
}

.nav-tab__item:first-child {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.nav-tab__item {
  list-style: none;
}

.nav-tab__list-text {
  margin: 0 16px 0 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  @media screen and (max-width: 768px) {
    margin: 20px 0 0 0;
  }
}

.nav-tav__profile-link {
  display: flex;
  align-items: center;
  color: $black;
  text-decoration: none;
  @media screen and (max-width: 768px) {
    margin: 621px auto 92px;
  }
}

.nav-tav__profile-name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin: 0 17px 0 0;
}

.nav-tav__profile-img {
  width: 26px;
  height: 30px;
}
